html> body > div {
	display: none;
}

html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
}

.reloj {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 5px solid #FFF;
	position: relative;
	display: none;
}

.aguja {
	background: #EEE;
	top: 50%;
	position: absolute;
	transform-origin: 100%;
	transition: all 0.1s;
	transition-timing-function: ease-in-out;
}

.horario {
	width: 30%;
	left: 20%;
	height: 4px;
	transform: translateY(-2px);
}

.minutero {
	width: 40%;
	left: 10%;
	height: 4px;
	transform: translateY(-2px);
}

.segundero {
	width: 45%;
	left: 5%;
	height: 2px;
	transform: translateY(-1px);
}
