html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #333;
}

.reloj {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 5px solid #FFF;
	position: relative;
	display: none;
}

.aguja {
	background: #EEE;
	top: 50%;
	position: absolute;
	transform-origin: 100%;
	transition: all 0.1s;
	transition-timing-function: ease-in-out;
}

.horario {
	width: 30%;
	left: 20%;
	height: 4px;
	transform: translateY(-2px);
}

.minutero {
	width: 40%;
	left: 10%;
	height: 4px;
	transform: translateY(-2px);
}

.segundero {
	width: 45%;
	left: 5%;
	height: 2px;
	transform: translateY(-1px);
}
<<<<<<< HEAD

.diallines {
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 15px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}
.diallines:nth-of-type(5n) {
  position: absolute;
  z-index: 2;
  width: 4px;
  height: 25px;
  background: #666;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 150px;
}

span {
  display: inline-block;
  position: absolute;
  color: #FFFFFF;
  font-size: 22px;
  font-family: 'Poiret One';
  font-weight: 700;
  z-index: 4;
}

.h1 {
  top: 40px;
  right: 90px;
}

.h2 {
  top: 80px;
  right: 50px;
}

.h3 {
  top: 140px;
  right: 30px;
}

.h4 {
	top: 195px;
	right: 50px;
}

.h5 {
  top: 235px;
  right: 90px;
}

.h6 {
	bottom: 30px;
  left: 50%;
  margin-left: -5px;
}

.h7 {
  left: 90px;
  top: 235px;
}

.h8 {
  left: 50px;
  top: 195px;
}

.h9 {
	left: 32px;
  top: 140px;
}

.h10 {
	left: 50px;
  top: 80px;
}

.h11 {
	left: 90px;
	top: 40px;
}

.h12 {
  top: 30px;
  left: 50%;
  margin-left: -9px;
}
=======
>>>>>>> c385948c88ba9fa0abde53477b185ebd975e9e3e
